.dashboard-container {
    background-color: #0000006b;  
    color: white;
    width: 25%;
    min-width: 400px;
}
.content{
    flex: 0.8;
    margin: 0 auto;
}

ul{
    padding: 0;
    padding-left: 40px;
    list-style-type: none;
}
li{
    cursor: pointer;
    padding: 1em 2em;
    font-size: 1.5rem;
    letter-spacing: 0.4em;
    text-align: center;
}
.add-icon{
    color:#6ab04c;
}
.section-button{
   display: none;
}
.section-input{
    padding: 0.5em 1em;
    font-size: 1.1rem;
    border: 0;
    background: transparent;
    outline: 0;
    color: white;
    border-bottom: 2px solid white;
}
.section-input::placeholder{
    color: white;
}

.active{
    background-color: white;
    color: black;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}